.layout{
    @apply xl:bg-purple-300 lg:bg-orange-300 md:bg-blue-300 bg-red-400;
    @apply xl:max-w-[1000px] lg:max-w-[700px] md:max-w-[600px];
    height: 100vh;
    max-width: 1066px;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px;
}